name: Deploy site
on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Zola
        run: |
          curl -sSOL https://github.com/getzola/zola/releases/latest/download/zola-linux-x86_64.tar.gz
          tar -xzf zola-linux-x86_64.tar.gz

      - name: Build
        run: ./zola build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
